<%- include('header.ejs') %>
   <h1>About</h1>
   <img class="profile" src="images/self.jpg" alt="profile">
    <p><%= start %></p>
    <%- include('footer.ejs') %>
    <style>
     .profile {
     height: 200px;
     width: 200px;
     object-fit: cover;
     border-radius: 50%;
    }
    </style>