<%- include('header.ejs') %>
   <h1>Compose</h1>
   <!-- <form action="/compose" method="POST">
    <input type="text" name="post" placeholder="Text">
    <input type="submit" value="Submit">
</form> -->
<form action="/compose" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Title</label>
      <input type="text" class="form-control" name="title" id="exampleInputEmail1"  placeholder="Enter Tile">
      </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Description</label>
      <!-- <input type="text" class="form-control" name="dis" id="exampleInputPassword1" placeholder="Discription"> -->
      <textarea class="form-control" name="dis" id="exampleInputPassword1" placeholder="Discription"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
  </form>
  <style>
    #exampleInputPassword1{
    height: 20rem; 
   }
</style>
    <%- include('footer.ejs') %>