<%- include('header.ejs') %>
<div id="contact-me">
   <h1>Contact Me</h1>
   <p>
       I'd love to hear from you! Whether you have a question, feedback, or simply want to say hello, feel free to drop me a message. Just fill out the contact form on this page, and I'll get back to you as soon as I can. Alternatively, you can reach out to me via email at [your-email@example.com] or follow me on my social media channels linked below. Let's connect and share ideas!
   </p>
</div>
<div class="social-buttons">
   <a href="https://www.instagram.com/shivanshsingh4378/" class="btn btn-instagram">Instagram</a>
   <a href="https://twitter.com/your_username" class="btn btn-twitter">Twitter</a>
   <a href="https://www.linkedin.com/in/your_username/" class="btn btn-linkedin">LinkedIn</a>
</div>
  <style>
   .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
                border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-instagram {
    color: #fff;
    background-color: #C13584;
    text-decoration: none;
}

.btn-twitter {
    color: #fff;
    background-color: #1DA1F2;
    text-decoration: none;
}

.btn-linkedin {
    color: #fff;
    background-color: #0077B5;
    text-decoration: none;
}

  </style>
    <%- include('footer.ejs') %>