
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p> Made by ｼ S̷ H҉ Ї ℣ ₳ Ñ S̷ H҉  ｼ.</p>
  </div>
</div>
<style>
  .footer{
    text-align: center;
  }
</style>
</body>
</html>
